*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #4E0053;
  font-family: "Geologica", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#site {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

main {
    flex: 1;
}

/* header */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 0 26px;
    border-radius: 10px;
    background: #00000033;
    gap: 60px;
}

.logo__inner {
    width: 200px;
    margin: 20px 0;
}

.nav {
    width: calc(100% - 260px);
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menu, .auth {
    display: flex;
    height: 50px;
    align-items: center;
}

.menu {
    gap: 10px;
}

.menu a {
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
    color: #F0BF48;
}

.menu a:hover {
    border: 1px solid #F0BF48;
}

.auth {
    gap: 22px;
}

.auth a {
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid #F0BF48;
    color: #F0BF48;
    transition: all .3s ease-in-out;
}

.auth a:hover {
    color: #000000;
    background-color: #F0BF48;
}

.auth a.active {
    color: #000000;
    background-color: #F0BF48;
}

.auth a.active:hover {
    color: #F0BF48;
    background-color: transparent;
}


/* packages */

.packages-list__item {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    height: 100px;
    background-color: #eee;
    cursor: pointer;
}

/* auth */

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.auth__container {
    width: 100%;
    max-width: 720px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
}

.auth__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__title {
    font-family: "Roboto Slab";
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #F0BF48;
    text-shadow: 0px 0px 10px rgba(240, 191, 72, 1);
    text-align: center;
    margin-bottom: 50px;
}

.auth__form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.auth__form__group label {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #EDE6EE;
    margin-bottom: 3px;
}

.auth__form__input {
    width: 100%;
    border: 1px solid #834D87;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 16px;
    color: #EDE6EE;
    background: #27002A;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: #EDE6EE; */
    outline: 0;
    transition: all 0.3s ease-in-out;
}

.auth__form__input:hover,
.auth__form__input:focus {
    border: 1px solid #F0BF48;
    box-shadow: 0px 0px 4px 0px #F0BF48;
}


.auth__form__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #27002A inset !important;
    -webkit-text-fill-color: #EDE6EE !important;
}

.form__submit {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    background: #F0BF48;
    border: 1px solid #F0BF48;
    box-shadow: 0px 0px 4px 0px #F0BF48;
    border-radius: 10px;
    outline: 0;
    transition: all .3s ease-in-out;
}

.form__submit:hover {
    background: transparent;
    color: #F0BF48;
}

/* home */

.home__img {
    width: 100%;
    max-width: 775px;
    margin: 0 auto;
    padding: 0 30px;
}

.home__img {
    width: 100%;
}

/* cabinet */

.cabinet__title {
    font-family: "Roboto Slab";
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #F0BF48;
    text-shadow: 0px 0px 10px rgba(240, 191, 72, 1);
    text-align: center;
    margin-bottom: 32px;
}
