*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #4E0053;
  font-family: "Geologica", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0em;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

#site {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

main {
    flex: 1;
}

/* header */

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    padding: 0 26px;
    border-radius: 10px;
    background: #00000033;
    gap: 60px;
}

.logo__inner {
    width: 200px;
    margin: 20px 0;
}

.nav {
    /*width: calc(100% - 260px);*/
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menu, .auth {
    display: flex;
    height: 50px;
    align-items: center;
}

.menu {
    gap: 10px;
}

.menu a {
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
    color: #F0BF48;
}

.menu a:hover {
    border: 1px solid #F0BF48;
}

.auth {
    gap: 22px;
}

.auth a, .auth button {
    padding: 15px 40px;
    border-radius: 10px;
    border: 1px solid #F0BF48;
    color: #F0BF48;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.auth button {
    background-color: transparent;
}

.auth a:hover, .auth button:hover {
    color: #000000;
    background-color: #F0BF48;
}

.auth a.active {
    color: #000000;
    background-color: #F0BF48;
}

.auth a.active:hover {
    color: #F0BF48;
    background-color: transparent;
}

.auth a#iHealthRefLink {
    background-image: linear-gradient(to right, #f04848, #ffb133);
    background-size: 200% 100%;
    background-position: left center;
    animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: left center;
    }
    50% {
        background-position: right center;
    }
    100% {
        background-position: left center;
    }
}

/* packages */

.packages-list__item {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    height: 100px;
    background-color: #eee;
    cursor: pointer;
}

/* auth */

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.auth__container {
    width: 100%;
    max-width: 720px;
    padding: 0 30px;
    margin: 0 auto;
    height: 100%;
}

.auth__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auth__title {
    font-family: "Roboto Slab";
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #F0BF48;
    text-shadow: 0px 0px 10px rgba(240, 191, 72, 1);
    text-align: center;
    margin-bottom: 50px;
}

.auth__form__group {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.auth__form__group label {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0em;
    color: #EDE6EE;
    margin-bottom: 3px;
}

.auth__form__input {
    width: 100%;
    border: 1px solid #834D87;
    border-radius: 4px;
    padding: 15px 10px;
    font-size: 16px;
    color: #EDE6EE;
    background: #27002A;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: #EDE6EE; */
    outline: 0;
    transition: all 0.3s ease-in-out;
}

.auth__form__input:hover,
.auth__form__input:focus {
    border: 1px solid #F0BF48;
    box-shadow: 0px 0px 4px 0px #F0BF48;
}


.auth__form__input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #27002A inset !important;
    -webkit-text-fill-color: #EDE6EE !important;
}

.form__submit {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    background: #F0BF48;
    border: 1px solid #F0BF48;
    box-shadow: 0px 0px 4px 0px #F0BF48;
    border-radius: 10px;
    outline: 0;
    transition: all .3s ease-in-out;
}

.form__submit:hover {
    background: transparent;
    color: #F0BF48;
}

/* home */

.home__img {
    width: 100%;
    max-width: 775px;
    margin: 0 auto;
    padding: 0 30px;
}

.home__img {
    width: 100%;
}

/* cabinet */

.cabinet__title {
    font-family: "Roboto Slab";
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #F0BF48;
    text-shadow: 0px 0px 10px rgba(240, 191, 72, 1);
    text-align: center;
    margin-bottom: 32px;
}

.cabinet__inner {
    background: #27002A;
    height: 100%;
    min-height: calc(100svh - 152px);
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabinet__item {
    width: 100%;
    max-width: 1100px;
    padding: 0 30px;
}

.balance__video__inner {
    display: flex;
    gap: 30px;
    margin-bottom: 32px;
}

.balance__inner {
    padding: 20px;
    border-radius: 10px;
    background: #B899BA;
    width: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.balance__title {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px solid #000000;
    margin-bottom: 50px;
}

.balance__text {
    font-size: 16px;
    color: #000000;
    margin-bottom: 6px;
}

.balance__item {
    width: 100%;
    height: 157px;
    padding: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #27002A;
}

.balance__sum {
    font-size: 42px;
    font-weight: 400;
    color: #EDE6EE;
}

.packages__list {
    padding: 20px;
    display: flex;
    background-color: #B899BA;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 32px;
}

.packages__item {
    width: calc(100% / 3 - 20px);
    background: #27002A;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.packages__item p{
    font-size: 16px;
    font-weight: 400;
    color: #EDE6EE;
    margin-bottom: 10px;
}

.select-package-btn {
    background: #F0BF48;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    box-shadow: 0px 0px 4px 0px #F0BF48;
    border: 1px solid #F0BF48;
    transition: all 0.3s ease-in-out;
}

.select-package-btn:hover {
    background: transparent;
    color: #EDE6EE;
}

.forms__video {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 13px;
    flex-direction: column;
}
.video__name {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    transition: all .3s ease-in-out;
    color: #EDE6EE;
}

.forms__video__input {
    width: calc(100% - 197px);
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #EDE6EE;
    font-size: 16px;
    color: #EDE6EE;
    outline: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.forms__video__input:hover,
.forms__video__input:focus {
    border: 1px solid #F0BF48;
    box-shadow: 0px 0px 4px 0px #F0BF48;
}

::-webkit-file-upload-button {
    padding: 10px 20px;
    border-radius: 10px;
    background: #F0BF48;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    box-shadow: 0px 0px 4px 0px #F0BF48;
    border: 1px solid #F0BF48;
    transition: all 0.3s ease-in-out;
}

::-webkit-file-upload-button:hover {
    background: transparent;
    color: #EDE6EE;
}

.forms__video__btn {
    width: 183px;
    padding: 15px 20px;
    border-radius: 10px;
    background: #F0BF48;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    box-shadow: 0px 0px 4px 0px #F0BF48;
    border: 1px solid #F0BF48;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.forms__video__btn:hover {
    background: transparent;
}

.forms__video__btn:disabled,
.forms__video__btn:disabled:hover {
    cursor: auto;
    background: #F0BF48;
    opacity: 0.5;
    color: #000;
}

.youtube__inner {
    background: #834D87;
    padding: 20px;
    border-radius: 10px;
}

.i__health__link__inner {
    border-bottom: 1px solid #EDE6EE;
    padding-bottom: 14px;
    margin-bottom: 20px;
}

.i__health__link__inner p {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    transition: all .3s ease-in-out;
    color: #EDE6EE;
}

.forms__youtube {
    display: flex;
    gap: 10px;
    align-items: center;
}

.forms__youtube__input {
    width: calc(100% - 151px);
    height: 50px;
    padding: 5px 10px;
    background-color: #4E0053;
    border-radius: 4px;
    border: 1px solid #EDE6EE;
    font-size: 16px;
    color: #EDE6EE;
    outline: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.forms__youtube__input:hover,
.forms__youtube__input:focus {
    border: 1px solid #F0BF48;
    box-shadow: 0px 0px 4px 0px #F0BF48;
}

.forms__youtube__btn {
    width: 141px;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background: #27002A;
    border: 1px solid #27002A;
    transition: all .3s ease-in-out;
    color: #EDE6EE;
    cursor: pointer;

}

.forms__youtube__btn:hover {
    background: #F0BF48;
    border: 1px solid #F0BF48;
    color: #27002A;
}

.forms__youtube__btn:disabled,
.forms__youtube__btn:disabled:hover {
    cursor: auto;
    background: #27002A;
    opacity: 0.5;
    color: #EDE6EE;
    border: none;
}
.forms__youtube__input:disabled,
.forms__youtube__input:disabled:hover {
    cursor: auto;
    background: #27002A;
    opacity: 0.5;
    color: #EDE6EE;
    border: none;
}

.packages__list2 {
    display: flex;
    gap: 22px;
}

.packages__item2 {
    padding: 32px;
    border-radius: 10px;
    border: 2px solid #B899BA;
    width: calc(100% - (44px / 3));
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #37003A;
}

.package2__title {
    font-size: 24px;
    font-weight: 600;
    color: #EDE6EE;
    margin-bottom: 18px;
}

.package2__img {
    margin-bottom: 20px;
}

.package2__discount {
    font-size: 28px;
    color: #EDE6EE;
    text-shadow: 0px 0px 4px rgba(245, 228, 185, 0.5);
    margin-bottom: 50px;
}

.package__text {
    font-size: 20px;
    color: #EDE6EE;
    margin-bottom: 54px;
    text-align: center;
}

.package__text span {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}

.pkg-two {
    border: 2px solid #F0BF48;
}

.pkg-two .package2__discount,
.pkg-three .package2__discount{
    color: #F0BF48;
    text-shadow: 0px 0px 4px rgba(240, 191, 72, 1);
}

.pkg-two .package__text,
.pkg-three .package__text{
    color: #F0BF48;
}

.pkg-three {
    border: 2px solid #F0BF48;
    box-shadow: 0px 0px 14.100000381469727px 0px #F0BF48;
}

.pkg-active {
    scale: 1.04;
    background-color: #000000;
}

.forms__video__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

/* progress bar */

.progress__box {
    margin-bottom: 21px;
}

.progress__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #EDE6EE;
}

.progress__inner {
    width: 100%;
    border-radius: 30px;
    border: 4px solid #FFFFFF;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FEF9ED, #FEF9ED);
}

.progress__bar {
    height: 100%;
    border-radius: 16px;
    background: linear-gradient(270deg, #AE0BB9 0%, #FCDCFF 100%);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #FEF9ED;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.30000001192092896px;
    text-align: right;
    transition: all .3s ease-in-out;
}
